@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #42008C;
    --secondary: #E2DCE8;
    --background: #F5F2F7;
    --foreground: #353535;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers (Chrome, Safari) */
}

.custom-scroll {
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}
